.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 100px 0;
}
.container__row {
  display: flex;
  align-items: center;
}
.discounts {
}
.discounts__item {
  height: 100px;
  width: 100px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.discounts__item:nth-child(1) {
  background-color: #e80c13;
}
.discounts__item:nth-child(2) {
  background-color: #e817a2;
}
.discounts__item:nth-child(3) {
  background-color: #1bc4d2;
}
.discounts__item:nth-child(4) {
  background-color: #51ca1b;
}
.discounts__item.hovered {
  box-shadow: 0 0 10px #000;
}
.discounts__title {
  font-family: sans-serif;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}
.container__ball {
  height: 80px;
  width: 80px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 700;
  cursor: grab;
}
.container__ball.hold {
  color: #c24513;
}
.container__ball.hide {
  display: none;
}
